@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
// @font-face {
// 	font-family: 'Roboto';
// 	src: url('../fonts/Roboto-Light.ttf') format('truetype');
// 	font-weight: 300;
// }
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'UVNKIEU';
	src: url('../fonts/UVNKIEU_R_1.TTF') format('truetype');
}
@font-face {
	font-family: 'UVNKIEU';
	src: url('../fonts/UVNKIEU_0.TTF') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'UTM';
	src: url('../fonts/UTM Swiss Condensed.ttf') format('truetype');
}
@font-face {
	font-family: 'UTMB';
	src: url('../fonts/UTM Swiss CondensedBold.ttf') format('truetype');
	font-weight:bold;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome.otf") format("truetype");
  font-weight: bold;
}

$font_def: 'Roboto';
$font_2nd: 'UVNKIEU';
$font_reset: 'Arial';

$color_def: #ffb628;
$color_green: #79c447;
$color_red: #ff5454;
$color_text: #3e3e3e;
$color_white: #fff;
$c_red: #f22427;
$c_xanh: #001dcd; //xanh nuoc bien
$c_vang:#f6c61a; //mau vang
$c_cam:#ff7200; //mau cam
$c_xam: #f7f7f7; //mau xam
$c_bor: #e4e4e4; //border


$f20: 20%;
.col-xs-f20,.col-sm-f20,.col-md-f20,.col-lg-f20{
	@extend %col_bs;
}
.col-xs-f20 {@include col_bs($f20)}
@media (min-width: 768px) {
	.col-sm-f20 {@include col_bs($f20)}
}
@media (min-width: 992px) {
	.col-md-f20 {@include col_bs($f20)}
}
@media (min-width: 1200px) {
	.col-lg-f20 {@include col_bs($f20)}
}

.pad-0{@include pad(0px);}
.pad-5{@include pad(5px);}
.pad-8{@include pad(8px);}
.pad-10{@include pad(10px);}
.margin-auto{@include mar(auto)}
.col-mar-0{@include mar(0px)}
.col-mar-0 > div[class^="col-"]{@include pad(0px);}
.col-mar-5{@include mar(-5px)}
.col-mar-5 > div[class^="col-"]{@include pad(5px);}
.col-mar-8{@include mar(-8px)}
.col-mar-8 > div[class^="col-"]{@include pad(8px);}
.col-mar-10{@include mar(-10px)}
.col-mar-10 > div[class^="col-"]{@include pad(10px);}

.delay02{@include animation_delay(0.2s);}
.delay04{@include animation_delay(0.4s);}
.delay06{@include animation_delay(0.6s);}

.c-img{
	display: block;
	position: relative;
	padding-top: 100%;
	img, .bg{
		@include absolute(0);
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
}
%img-center{
	@include absolute(0);
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}
.hv-over{
	display: block;
	position: relative;
	&:after{
		content: '';
		@include absolute(0);
		border-radius: inherit;
		pointer-events: none;
		@include smooth(0.3s);
	}
	&:hover:after{
		background: rgba($color_def, 0.4);
	}
}
.hv-scale{
	overflow: hidden;
	display: block;
	img{
		@include smooth(0.3s);
	}
	&:hover img{
		@include scale(1.1);
	}
}
.hv-light{
	@include top;
	position: relative;
	overflow: hidden;
	background: #fff;
	&:before, &:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
	}
	&:before{
		right:0;
		bottom:0;
		background: none;
		@include smooth(0.3s);
	}
	&:after{
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.3);
		@include transition(0.75s ease-in-out);
		@include transform(scale3d(2,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0));
	}
	&:hover{
		&:before{
			background: rgba(242, 211, 0, 0.2);
		}
		&:after{
			@include transform(scale3d(2,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0));
		}
	}
}
table {
    border: solid 3px #d4d4d4!important;
}
.bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.smooth{@include smooth(.2s);}

@media all and (max-width: 1199px){
	.md-left{text-align: left;}
	.md-center{text-align: center;}
	.md-right{text-align: right;}
}
@media all and (max-width: 991px){
	.sm-left{text-align: left;}
	.sm-center{text-align: center;}
	.sm-right{text-align: right;}
}
@media all and (max-width: 767px){
	.xs-left{text-align: left;}
	.xs-center{text-align: center;}
	.xs-right{text-align: right;}
}
.table{
	display: table;
	margin: 0;
	.line{
		display: table-row;
	}
	.cell{
		display: table-cell;
	}
}
body{
	font-size: 14px;
	font-family: $font_def;
	line-height: 1.5;
	color: $color_text;
}

.s-content{
	ol{
		list-style: decimal;
		margin-left: 15px;
		margin-bottom: 10px;
	}
	ul{
		list-style: initial;
		margin-left: 15px;
		margin-bottom: 10px;
	}
	li{
		list-style: inherit;
		margin-bottom: 5px;
	}
	p{
		margin-bottom: 10px
	}
	img{
		display: block;
		max-width: 100%;
		margin: 10px auto;
		width: auto !important;
		height: auto !important;
	}
	table, iframe{
		max-width: 100%;
	}
}
.s-social{
	.fb_iframe_widget, a.pinterest{
		@include top;
		margin-top: -1px;
	}
}